@import "helpers";

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: url(../assets/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

*:focus {
    outline: none
}

.full-height {
    height: 100%;
    width: 100%;
}

.logo {
    padding: 24px;
    img {
        width: 200px;
        height: 36.5px;
    }
}

.text-center {
    text-align: center;
}
