:host {
    .search-container{

    }
    .search-bar{
        position: relative;
        max-width: 920px;
        input[type="text"] {
            background: white;
            border: 0 none;
            font-family: 'Lato', sans-serif;
            color: black;
            font-size: 24px;
            max-width: 920px;
            height: 60px;
            padding: 6px 15px 6px 60px;
            -webkit-border-radius: 20px;
            -moz-border-radius: 20px;
            border-radius: 10px;
        }
        .search-icon{
            font-size: 24px;
            color: #cbcbcb;
            position: absolute;
            left: 20px;
            top: 18px;
        }
    }

}
